:root {
    /* cores principais */
    --cor-p1: #fb0;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;

    /* cores de bg */
    --cor-bg1: #000000;
    --cor-bg2: #111111;
    --cor-bg3: #2e2e2e;
    --cor-bg4: #404040;
    --cor-bg5: #595959;
    --cor-bg6: #717171;
    --cor-bg7: #9c9c9c;
    --cor-bg8: #b2b2b2;
    --cor-bg9: #cccccc;
    --cor-bg10: #dedede;
    --cor-bg11: #ededed;
    --cor-bg12: #f7f7f7;
    --cor-bg13: #ffffff;

    /* tipografias */
    --tipo-1: "Poppins";
    --tipo-2: "Roboto";
    
}


body {
    margin: 0px;
    font-family: "Roboto";
}

h1, h2, h3, p {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
